
  <div class="container">
      <ngx-graph
        class="chart-container"
        [layout]="layout"
        [view]="flowChartGraphConfig.viewPort"
        [links]="flowChartGraphConfig.linksData"
        [nodes]="flowChartGraphConfig.nodesData"
        [clusters]="flowChartGraphConfig.clustersData"
        [nodeWidth]="flowChartGraphConfig.nodeWidth"
        [nodeHeight]="flowChartGraphConfig.nodeHeight"
        [curve]="curve"
        (select)="onNodeSelect($event)"
        [center$]="center$"
        [zoomToFit$]="zoomToFit$"
        [panToNode$]="panToNode$"
        [draggingEnabled]="draggingEnabled"
        [panningEnabled]="panningEnabled"
        [panOnZoom]="panOnZoom"
        [enableZoom]="enableZoom"
        [showMiniMap]="showMiniMap"
        [layoutSettings]='flowChartGraphConfig.settings'
        [panningAxis]="panningAxis"
      >

  <!-- defs 自定義 -->
        <ng-template #defsTemplate>

          <!-- arrow -->
          <ng-container *ngIf="flowChartGraphConfig.useLinkArrow">
            <svg:marker
                id="arrow"
                viewBox="0 -5 10 10"
                refX="8"
                refY="0"
                [attr.markerWidth]="flowChartGraphConfig.nodeWidth/3"
                [attr.markerHeight]="flowChartGraphConfig.nodeWidth/3"
                orient="auto">
              <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
            </svg:marker>
          </ng-container>


        </ng-template>

  <!-- cluster 區塊 -->

    <ng-template #clusterTemplate let-cluster>
      <ng-container *ngIf="!flowChartGraphConfig.useOrgTemplate">
        <svg:g>
          <svg:rect
            rx="5"
            ry="5"
            [attr.width]="cluster.dimension.width"
            [attr.height]="cluster.dimension.height"
            [attr.fill]="cluster.data.color"
          />
        </svg:g>
      </ng-container>

      <ng-container *ngIf="flowChartGraphConfig.useOrgTemplate">
        <svg:g class="cluster" [attr.transform]="clusterLineTranslate">
          <svg:path
            d="M0 0 V10000"
            stroke-dasharray="3 3"
            [attr.stroke]="cluster.data.strokeColor"
          />
        </svg:g>
      </ng-container>

    </ng-template>


<!-- node 節點 -->
  <!-- 組織圖 -->
      <ng-container *ngIf="flowChartGraphConfig.useOrgTemplate">
            <ng-template #nodeTemplate let-node>
              <svg:g class="node">
              <!-- outline -->
                <svg:rect
                  class="rect"
                  [attr.width]="node.dimension.width"
                  [attr.height]="node.dimension.height"
                  [attr.stroke]="node.data.borderColor"
                  [attr.stroke-width]="node.data.borderWidth"
                  [attr.fill]="node.data.customColor || node.data.color"
                  [attr.rx]="5"
                  [attr.ry]="5"
                />
              <!-- number -->

                <svg:circle
                  [attr.r]="17"
                  [attr.cx]="node.dimension.width / 6"
                  [attr.cy]="node.dimension.height / 2"
                  [attr.fill]="node.data.circleColor||'#ffffff'"
                  [attr.stroke-width]="1"
                />
                <svg:text
                  [attr.x]="node.dimension.width / 6"
                  [attr.y]="node.dimension.height / 2"
                  [attr.fill]="'#0288d1'"
                  font-size="14"
                  text-anchor="middle"
                  alignment-baseline="middle"
                >{{node.id}}

                </svg:text>

              <!-- text -->
                <foreignObject
                  [attr.x]="node.dimension.width/3"
                  [attr.y]="0"
                  [attr.width]="84"
                  [attr.height]="node.dimension.height"
                >
                  <div class="node-label">
                    <span class="ellipsis org">{{node.label}}</span>
                  </div>
                </foreignObject>

              <!-- icon -->
                <foreignObject
                  class="icon-more"
                  [matMenuTriggerFor]="menu"
                  [matMenuTriggerData]="{nodeId: node.id}"
                  [attr.x]="140"
                  [attr.y]="10"
                  width="30px"
                  height="30px"
                >
                <mat-icon>{{node.data.icon}}</mat-icon>
              </foreignObject>
            </svg:g>
            </ng-template>
      </ng-container>

  <!-- 其他 -->
      <ng-container *ngIf="!flowChartGraphConfig.useOrgTemplate">
        <ng-template #nodeTemplate let-node>
          <ng-container [ngSwitch]="flowChartGraphConfig.nodeShape">
            <ng-container *ngSwitchCase="'rect'">
              <svg:rect
                [attr.width]="node.dimension.width"
                [attr.height]="node.dimension.height"
                [attr.stroke]="node.data.borderColor"
                [attr.stroke-width]="node.data.borderWidth"
                [attr.fill]="node.data.customColor || node.data.color"
                [attr.rx]="5"
                [attr.ry]="5"
              >
              </svg:rect>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <svg:circle
                [attr.r]="flowChartGraphConfig.nodeWidth/2"
                [attr.cx]="node.dimension.width/2"
                [attr.cy]="node.dimension.height/2"
                [attr.stroke]="node.data.borderColor"
                [attr.stroke-width]="node.data.borderWidth"
                [attr.fill]="node.data.customColor || node.data.color"
              >
              </svg:circle>
            </ng-container>
            <!-- 文字 -->
            <foreignObject
              [attr.x]="0"
              [attr.y]="0"
              [attr.width]="node.dimension.width"
              [attr.height]="node.dimension.height"
            >
              <div class="node-label">
                <span class="ellipsis">{{node.label}}</span>
              </div>
            </foreignObject>
          </ng-container>
        </ng-template>
      </ng-container>


<!-- Link 線 -->
        <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path
              class="line"
              stroke-width="0.3"
              [attr.d]="link.line"
              marker-end="url(#arrow)">
            </svg:path>

            <!-- <svg:text class="edge-label" text-anchor="middle">
              <textPath
                class="text-path"
                [attr.href]="'#' + link.id"
                [style.dominant-baseline]="link.dominantBaseline"
                startOffset="50%"
              >
                {{link.label}}
              </textPath>
            </svg:text> -->
          </svg:g>
        </ng-template>


<!-- customer svg -->
        <!-- <svg:clipPath id="sticky">
          <svg:rect
            width="75" height="75"
          />
        </svg:clipPath>
          <svg:g class="sticky-bar" clip-path="url(#sticky)">
            <svg:rect
              fill="#FF6CC4" stroke="#C30D23" stroke-width="3" width="75" height="75"
            />
          </svg:g> -->

      </ngx-graph>

</div>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-nodeId="nodeId">
    <button mat-menu-item>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item (click)="moveItem(nodeId)">
      <span>Move</span>
    </button>
  </ng-template>
</mat-menu>
